<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home/index">
      	<img alt="Logo" src = "/assets/logo.png" style = "height:60px; padding-left:40px">
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Animals", animals_url %></li>
        <% if logged_in? %>
	  	    <li><%= link_to "Matches", interests_url %></li>
	  	    <li><%= link_to "My Profile", animals_url %></li>
         <% end %>
	  	  <!-- <div id="login"> -->
          <!-- content once logged in goes here -->
        <li>
          <% if logged_in? %>
            <%= link_to 'Logout', logout_path %>
            <!-- <br><%= current_user.proper_name %> -->
          <% else %>
            <%= link_to 'Login', login_path %>
          <% end %>
        </li>
      <!-- </div> -->
      </ul>
    </div>
  </div>
</nav>