<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name  %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :age  %>
    <%= f.input :gender, as: :select do %>
       <%= f.check_box :gender, {}, "Female", "Male" %>
    <% end %>
    <%= f.input :family_info %>
    <%= f.input :pet_info %>
    <%= f.input :phone_number %>
    <%= f.input :address %>
    <%= f.input :residence_info %>
    <%= f.input :about %>

    
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>





 
