<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>
  </div>
<div class="col-md-6">
 <% unless @user.photo_url.nil? %>
   <center><img src= <%= @user.photo_url %> class="img-circle" width="350" height="350"></center>
  <% end %>
</div>

<div class="col-md-6">

<h4>Personal Details</h4>
<p>Age: <%= @user.age %></p>
<p>Gender: <%= @user.gender %></p>
<p>About: <%= @user.about %></p>
<p>Family Info:
  <%if not @user.family_info.blank? %>
    <%= @user.family_info %>
  <%else%>
   Not available at this time.  
<%end%>
</p>
<p>Pet Info: <%if not @user.pet_info.blank? %>
    <%= @user.pet_info %>
  <%else%>
   Not available at this time. 
<%end%></p>

<p>Residence Info:<%if not @user.residence_info.blank? %>
    <%= @user.residence_info %>
  <%else%>
   Not available at this time.
<%end%></p>


<br>

<h4>Contact Details</h4>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone_number %></p>


<br><br>
<% if logged_in? %>
  <% if @user.id == current_user.id %>
  <%= link_to 'Edit', edit_user_path(@user),class: "btn btn-default"  %> 
  <% end %>
<%end%>

</div>
</div>

<div>
<br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your Animals up for Adoption</h3>
  </div>
  <div class="panel-body">
    <%= render partial: 'active_user_animals' %>
  </div>
</div>

<% if not @inactive_animals.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Your Animals not available for Adoption</h3>
    </div>
    <div class="panel-body">
     <%= render partial: 'inactive_user_animals' %>
    </div>
  </div>
<%end%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Animals you're Interested in</h3>
  </div>
  <div class="panel-body">
    <%= render partial: 'user_interests' %>
  </div>
</div>





</div>


