

<table class="table table-hover">
  <thead>
  </thead>

  <tbody>

    <% if current_user.animals.active.empty? %>
      <tr>
        <td> Currently, there are no interests </td>
      </tr>
    <% end %>
    <% current_user.animals.active.map{|i| i.interests}.each do |interested| %>
      <% interested.each do |interest|%>
          <tr>
           <% unless interest.user.photo_url.nil? %>
             <td> <img src= <%= interest.user.photo_url %> class="img-circle" width="50" height="50"></td>
           <% end %>


            <td><%= link_to interest.user.first_name, interest.user %></td>
       
            <td>is interested in your </td>

            <td><%= link_to interest.animal.name, interest.animal %></td>

            <% unless interest.animal.photo_url.nil? %>
              <td> <img src= <%= interest.animal.photo_url %> class="img-circle" width="50" height="50"></td>
            <% end %>

            <td><%= link_to "Email", {:controller => "interests", :action => "mail",  :user => current_user.id } %> </td>
           

            <td><%= link_to 'Delete', edit_interest_path(interest) %></td>

          </tr>
      <% end %>
    <% end %>



  </tbody>
</table>


<br>


