

<div class="container">
<div id = "animalform">
<h2> Put an animal up for adoption </h2>
<%= simple_form_for(@animal) do |f| %>
  <%= f.error_notification %>


  	<%= f.input :name %>
  	<%= f.input :breed %>
  	<%= f.input :age %>
  	<%= f.input :parent_breed %>
  	<%= f.input :personality %>
  	<%= f.input :adoption_fee %>
    <%= f.file_field :photo, :label => "Upload Picture" %>
    <%= f.input :note %>
    <div class="field">
      <%= f.label "Vaccination" %><br />
      <%= f.collection_check_boxes :vaccination_ids, Vaccination.all, :id, :name do |b| %>
      <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
    </div>


  <div class="form-actions">
    <%= f.button :submit, label = "List Animal"%>
  </div>
</div>
</div>

<% end %>