


<%= simple_form_for(@animal) do |f| %>
  <%= f.error_notification %>


  	<%= f.input :name %>
  	<div class="form-group string optional animal_breed"><label class="string optional control-label" for="animal_breed">*Breed</label>
      <select id="animal" class="form-control" onchange="dropdown()">
        <option value="">Select an Animal</option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="rabbit">Rabbit</option>
        <option value="bird">Bird</option>
        <option value="small">Small/Furry</option>
        <option value="reptile">Reptile</option>  
      </select>
      <select name="animal[breed]" id="breed" class="form-control">
        <option value="">Select an Animal First</option>
      </select>
    </div>
  	<%= f.input :age , placeholder: 'in year'%>
  	<%= f.input :parent_breed %>
  	<%= f.input :personality , placeholder: 'Quiet, Likes to eat, Does not like outdoors'%>
  	<%= f.input :adoption_fee %>
    <%= f.input :photo, as: :file %>
    <%= f.input :note %>
    <div class="field">
      <%= f.label "Vaccination" %><br />
      <%= f.collection_check_boxes :vaccination_ids, Vaccination.all, :id, :name do |b| %>
      <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
    </div>
    <%= f.input :active, label: 'Animal Avaible for Adoption?'%>

  <div class="form-actions">
    <%= f.button :submit, label = "List Animal"%>
  </div>
</div>
</div>

<% end %>

<script>
  function dropdown() {
    $('#breed').empty();
    var initOption = $('<option>');
    initOption.attr('value', "").text("Select a breed");
    $('#breed').append(initOption);

    var temp;

    if(document.getElementById("animal").value == "dog") temp = ["Retriever", "German Sheperd", "Bulldog", "Beagle", "Yorkshire Terrier", "Poodle", "Boxer", "Rottweiler", "Dachshund", "Pointer"];
    if(document.getElementById("animal").value == "cat") temp = ["Oriental", "American Shorthair", "Birman", "Sphynx", "Ragdoll", "Siamese", "Abyssinian"];
    if(document.getElementById("animal").value == "rabbit") temp = ["Flemish Giant", "Jersey Wooley", "Angoras", "Cinnamon", "Rex Rabbits", "Silver Fox", "Perlfree", "British Giant", "Satin", "Thuringer"];
    if(document.getElementById("animal").value == "bird") temp = ["Canary", "Finch", "Cockatiel", "Lovebird", "Parakeet", "Parrot", "Caique", "Lory & Lorikeet", "Conure", "African Grey", "Amazon", "Cockatoo", "Ecletus", "Macaw"];
    if(document.getElementById("animal").value == "small") temp = ["Guinea Pig", "Hamster", "Ferrets", "Chinchilla", "Degu", "Gerbil", "Mouse", "Hedgehog"];
    if(document.getElementById("animal").value == "reptile") temp = ["Bearded Dragon", "Iguana", "Turtle", "Tortoise", "Snake", "Python", "Gecko", "Lizard", "Chameleon"];

    temp.sort();

    for(var i = 0; i < temp.length; i++){
      var newOption = $('<option>');
      newOption.attr('value', temp[i]).text(temp[i]);
      $('#breed').append(newOption);
    }
  } 
</script>
