
<br>
<% if logged_in? %>
  <div class="btn-group">
    <%= link_to 'New Animal', new_animal_path, class: "btn btn-default" %>
  </div>
<% end %>
<br>

<%= form_tag animals_path, :method => 'get' do %>
  <br>
  <div class="row">
  <div class="col-md-3">
    <%= select_tag :animal, options_for_select([["Select an Animal", "All"],["Show All", "All"], ["Dog", "dog"], ["Cat", "cat"], ["Rabbit", "rabbit"], ["Bird", "bird"], ["Small/Furry", "small"], ["Reptile", "reptile"]]), onchange: 'dropdown()', class: "form-control" %>
    </div>
    <div class="col-md-3">
    <select name="breed" id="breed" class="form-control">
      <option value="">Select an Animal First</option> 
    </select>
    </div>
    <div class="col-md-3">
    <%= select_tag :age, options_for_select([['Any Age', -1],['0~3', 3], ['4~7', 7], ['8~11', 11], ['Other', 12]]), class: "form-control" %>
    </div>

    <div class="col-md-3">
    <%= submit_tag "Search", class: "btn btn-success"  %>
    </div>
    </div>
  <br>
<% end %>

<br>
  <div class="row">
    <% if @animals.empty? %>
      <% if @all_animals.empty? %>
        <div class="col-md-4">
          Sorry! No animals are currently available.
        </div>
      <% else %>
        <div class="col-md-4">
          Sorry! No animals currently meet your search criteria. Please try again.
        </div>
      <% end %>  
    <% else %> 
      <% @animals.each do |animal| %>  
        <div class="col-md-4">
          <% if not animal.photo_url.nil? %>
             
          <img src= <%= animal.photo_url %> class="img-circle" alt="<%= animal.name %>" width="200" height="200">
          <%else%>
               <img src="http://placehold.it/500x500&text=No Picture" class="img-circle" alt="<%= animal.name %>" width="200" height="200">
           
          <% end %>
          <br>
          <br>
          Name: <%= animal.name %>
          <br>
          Breed: <%= animal.breed %>
          <br>
          Age (in years): <%= animal.age %> 
          <br>
          Date Added: <%= animal.date %>
          <br>
          <br>
          <div class="col-md-4">
            <p><a class="btn btn-info btn-sm" href="/animals/<%= animal.id %>" role="button">View Profile</a></p>
          </div>
          <div class="col-md-4">
            <% if logged_in? %>

              <%= button_to "Interested!", {:controller => "interests", :action => "create", :animal => animal.id, :user => session[:user_id]}, class: "btn btn-success btn-sm" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<br>

<script>
  function dropdown() {
    $('#breed').empty();
    var initOption = $('<option>');
    initOption.attr('value', "").text("Select a breed");
    $('#breed').append(initOption);

    var temp;

    if(document.getElementById("animal").value == "dog") temp = ["Retriever", "German Sheperd", "Bulldog", "Beagle", "Yorkshire Terrier", "Poodle", "Boxer", "Rottweiler", "Dachshund", "Pointer"];
    if(document.getElementById("animal").value == "cat") temp = ["Oriental", "American Shorthair", "Birman", "Sphynx", "Ragdoll", "Siamese", "Abyssinian"];
    if(document.getElementById("animal").value == "rabbit") temp = ["Flemish Giant", "Jersey Wooley", "Angoras", "Cinnamon", "Rex Rabbits", "Silver Fox", "Perlfree", "British Giant", "Satin", "Thuringer"];
    if(document.getElementById("animal").value == "bird") temp = ["Canary", "Finch", "Cockatiel", "Lovebird", "Parakeet", "Parrot", "Caique", "Lory & Lorikeet", "Conure", "African Grey", "Amazon", "Cockatoo", "Ecletus", "Macaw"];
    if(document.getElementById("animal").value == "small") temp = ["Guinea Pig", "Hamster", "Ferrets", "Chinchilla", "Degu", "Gerbil", "Mouse", "Hedgehog"];
    if(document.getElementById("animal").value == "reptile") temp = ["Bearded Dragon", "Iguana", "Turtle", "Tortoise", "Snake", "Python", "Gecko", "Lizard", "Chameleon"];

    temp.sort();

    for(var i = 0; i < temp.length; i++){
      var newOption = $('<option>');
      newOption.attr('value', temp[i]).text(temp[i]);
      $('#breed').append(newOption);
    }
  } 
</script>
