<h1>All Animals</h1>

<br>
  <div class="btn-group">
    <%= link_to 'New Animal', new_animal_path, class: "btn btn-lg btn-success" %>
  </div>
<br>
<br>
  <div class="row">
    <% @animals.each do |animal| %>  
      <div class="col-md-4">
        <img src="/assets/<%= animal.id %>.jpg" class="img-circle" alt="<%= animal.name %>" width="200" height="200">
        <br>
        Name: <%= animal.name %>
        <br>
        Breed: <%= animal.breed %>
        <br>
        Age: <%= animal.age %>
        <br>
        Date Added: <%= animal.date %>
        <br>
        <div class="col-md-4">
          <p><a class="btn btn-info btn-sm" href="/animals/<%= animal.id %>" role="button">View Profile</a></p>
        </div>
        <div class="col-md-4">

          <%= button_to "Interest", {:controller => "interests", :action => "create", :animal => animal.id }%>
        </div>
      </div>
    <% end %>
  </div>
<br>
