<h1>All Animals</h1>

<br>
<%= link_to 'New Animal', new_animal_path %>
<br>

  <div class="row">
    <% @animals.each do |animal| %>  
      <div class="col-md-4">
        <p><%= animal.user_id %></p>
        <p>Breed: <%= animal.breed %></p>
        <p>Age: <%= animal.age %></p>
        <p>Name: <%= animal.name %></p>
        <p>Date Added: <%= animal.date %></p>
      </div>
    <% end %>
  </div>
<br>
