<h1>Listing animals</h1>
  <div class="row">
    
      <div class="col-md-4">
      
      </div>
  </div>



<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Age</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.user_id %></td>
        <td><%= animal.date %></td>
        <td><%= animal.name %></td>
        <td><%= animal.breed %></td>
        <td><%= animal.age %></td>
        <td><%= animal.photo_url %></td>
        <td><%= link_to 'Show', animal %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path %>
