<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @animal.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @animal.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @animal.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @animal.age %>
</p>

<p>
  <strong>Parent breed:</strong>
  <%= @animal.parent_breed %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @animal.personality %>
</p>

<p>
  <strong>Adoption fee:</strong>
  <%= @animal.adoption_fee %>
</p>

<p>
  <strong>Note:</strong>
  <%= @animal.note %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
