<p id="notice"><%= notice %></p>

<%= link_to 'Animals', animals_path %>/<%= @animal.name %>

<div class="row">

  <div class="col-md-6">
    <br>
     <% unless @animal.photo_url.nil? %>
       <center><img src= <%= @animal.photo_url %> class="img-circle" width="350" height="350"></center>
      <% end %>


  </div>

 
  <div class="col-md-6">
    <h2><%= @animal.name %></h2>
    <img class="img" src="/assets/age.png" width="20" height="20">          
        <%= @animal.age %> 
   <img class="img" src="/assets/money.png" width="25" height="25"><%if @animal.adoption_fee != '' %>
        $<%= @animal.adoption_fee %>
      <%else%>
        Free!
      <%end%>
     
      
      <br>
      <br>

    <h4>Parent Breed:</h4> 
      <%if @animal.parent_breed != '' %>
        <%= @animal.parent_breed %>
      <%else%>
        Not available right now
      <%end%>

      <br>
      <br>
    <h4>Personality:</h4><%= @animal.personality %>
      <br>
      <br>
    <h4>Note:</h4><%= @animal.note %>
      <br>
      <br>
    <h4>Vaccinations:</h4>
    
        <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
        <%@animal.vaccinations.each do |vaccination|%>

        <tr>
        <td><%= vaccination.name%></td>

        </tr>
        <% end %>

        </tbody>
        </table>
    
   <br><br>

    <% if logged_in? %>
      <%= button_to "Interested!", {:controller => "interests", :action => "create", :animal => @animal.id, :user => session[:user_id]}, class: "btn btn-success btn-med", :data => {:toggle=>"modal", :target =>".bs-example-modal-sm"}  %>
    

      <br>
      <% if @animal.user.id == current_user.id %>
        <%= link_to 'Edit', edit_animal_path(@animal), class: "btn btn-default"  %>
      <% end %>
    <% end %>

  </div>
  
</div>

