<p id="notice"><%= notice %></p>

<%= link_to 'Animals', animals_path %>/<%= @animal.name %>
<div class="row">
  <div class="col-md-12">
    <p><h1><%= @animal.name %></h1></p>
  </div>
  <div class="col-md-6">
    <br>
    <img class="img-responsive" src="/assets/<%= @animal.id %>.jpg" id="picture">
  </div>
  <div class="col-md-6">
    <h3>
      Name: <%= @animal.name %>
      <br>
      <br>
      Breed: <%= @animal.breed %>
      <br>
      <br>
      Age: <%= @animal.age %>
      <br>
      <br>
      Adoption fee: <%= @animal.adoption_fee %>
      <br>
      <br>
    </h3>
    <h4>
      Parent Breed: <%= @animal.parent_breed %>
      <br>
      <br>
      Personality:<%= @animal.personality %>
      <br>
      <br>
      Note:<%= @animal.note %>
      <br>
      <br>
      Vaccinations:
      <br>
        <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
        <%@animal.vaccinations.each do |vaccination|%>

        <tr>
        <td><%= vaccination.name%></td>

        </tr>
        <% end %>

        </tbody>
        </table>
    </h4>
  </div>
  
</div>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
