<p id="notice"><%= notice %></p>

<%= link_to 'Animals', animals_path %>/<%= @animal.name %>
<div class="panel panel-default">
<div class="panel-body">
<div class="row">

  <div class="col-md-6">
    <br>
     <% unless @animal.photo_url.nil? %>
       <center><img src= <%= @animal.photo_url %> class="img-circle" width="350" height="350"></center>
      <% end %>
  </div>

 
  <div class="col-md-6">
    <h2><%= @animal.name %>'s Profile</h2>
      <br>

      Age: <%= @animal.age %>
      <br>
      <br>
      <%if @animal.adoption_fee != '' %>
        Adoption fee: $<%= @animal.adoption_fee %>
      <%else%>
        Adoption fee: Free
      <%end%>
      <br>
      <br>
   
    <h4>
      Parent Breed: <%= @animal.parent_breed %>
      <br>
      <br>
      Personality:<%= @animal.personality %>
      <br>
      <br>
      Note:<%= @animal.note %>
      <br>
      <br>
      Vaccinations:
      <br>
        <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
        <%@animal.vaccinations.each do |vaccination|%>

        <tr>
        <td><%= vaccination.name%></td>

        </tr>
        <% end %>

        </tbody>
        </table>
    </h4>
    <% if @animal.user.id == current_user.id %>
      <%= link_to 'Edit', edit_animal_path(@animal), class: "btn btn-default"  %>
    <% end %>

    <% if logged_in? %>
    <%= button_to "Interested!", {:controller => "interests", :action => "create", :animal => @animal.id, :user => session[:user_id]}, class: "btn btn-success btn-sm", :data => {:toggle=>"modal", :target =>".bs-example-modal-sm"}  %>
    <% end %>

  </div>
  
</div>


  </div>
  </div>
