<!DOCTYPE html>
<html>
<head>
  <title>AdoptaFriend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <%= render :partial => "partials/nav" %>
  <%= render :partial => "partials/flash" %>
  
  <div class="container">
    <%= yield %>
  </div>



</body>
</html>
